@page "/"
@using ChessWebApp.Components
@using ChessClassLibrary

<div>
    <button @onclick="NewGame">New Game</button>
    <ChessWebApp.Components.ChessBoard Game=@game></ChessWebApp.Components.ChessBoard>
</div>

@code{
    private Game game = new Game();

    private void NewGame()
    {
        game = new Game();
    }
}
